<!-- <router-outlet></router-outlet> -->
<div class="container">
  <div class="row">
    <div class="cols col-md-4">
      <!-- Display the SelectPaperSizeComponent -->
      <app-select-paper-size></app-select-paper-size>
    </div>
    <div class="cols col-md-8">
      <!-- Display the PriceTableComponent -->
      <app-price-table></app-price-table>
    </div>
  </div>
  <div class="row">
    <div class="cols col-md-12">
      <!-- Display the OrderPriceComponent -->
      <app-order-price></app-order-price>
    </div>
  </div>
</div>
